{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "all",
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
